/* Dodajemo osnovne stilove za celo telo i elemente koji sadrže sadržaj */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Podesi visinu tela da bude 100% */
  width: 100%;
  overflow-x: hidden; /* Isključujemo horizontalno skrolovanje */
}
body {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto; /* Omogućavamo vertikalno skrolovanje */
  
}

/* Glavni stil za sekciju događaja */
.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to right, var(--px-theme), var(--px-gradient-end));

}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--px-black);
}

/* Stil za listu događaja */
.events-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%; /* Omogućava širenje liste na celokupan prostor */
  height: 100%;
  
}

.event-item {
  display: flex;
  flex-direction: row; /* Raspored u red sa slikom levo i podacima desno */
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  border: 1px solid var(--px-bg-2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--px-bg-2);
  justify-content: space-between;
  align-items: center;
}

.event-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.event-details {
  flex: 1;
  margin-left: 20px;

}

.event-details h3 {
  margin: 0;
  font-size: 1.5em;
  color: var(--px-theme);

}

.event-details p {
  margin: 5px 0;
  color: var(--px-bababa);
}

.event-details p:first-child {
  font-weight: bold;
}

/* Responzivnost za mobilne uređaje */
@media (max-width: 768px) {
  .event-item {
    flex-direction: column; /* Prebaci događaj u vertikalni raspored */
    align-items: center; /* Centriraj sadržaj */
    width: 70%; /* Smanji širinu za mobilne uređaje */
  }

  .event-image {
    width: 200px; /* Smanji veličinu slike */
    height: 300px;
  }

  .event-details {
    margin-left: 0; /* Ukloni marginu s leve strane */
    text-align: center; /* Centriraj tekst */
  }

  .event-details h3 {
    font-size: 1.2em; /* Manji font za mobilne uređaje */
  }
}

/* Responzivnost za vrlo male ekrane (telefon u portretnom režimu) */
@media (max-width: 480px) {
  .event-item {
    width: 95%; /* Smanji širinu još više za ekrane male širine */
  }

  .event-image {
    width: 200px; /* Još manja slika */
    height: 300px;
  }

  .event-details h3 {
    font-size: 1em; /* Manji font */
  }
}
