

/* Glavni stil za sekciju događaja */
.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(to right, rgba(186, 186, 186, 0.8), rgba(0, 0, 0, 0.8));

}

.events-section h1{
  text-align: center;
  margin-bottom: 30px;
  color: var(--px-white);
}
/* Stil za listu događaja */
.events-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%; /* Omogućava širenje liste na celokupan prostor */
  height: 100%;
  
}

.event-item {
  display: flex;
  flex-direction: row; /* Raspored u red sa slikom levo i podacima desno */
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  border: 1px solid var(--px-bg-2);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--px-bg-2);
  justify-content: space-between;
  align-items: start;
}

.event-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.event-details {
  flex: 1;
  margin-left: 20px;
  word-wrap: break-word;  /* Omogućava prelamanje reči */
  overflow-wrap: break-word;  /* Dodaje podršku za razbijanje reči na novom redu */
  word-break: break-all; /* Prilagođava prelamanje reči */
}

.event-details h3 {
  margin: 0;
  font-size: 3.5rem;
  color: var(--px-black);
  white-space: normal;  /* Osigurava da naslov može da pređe u novi red */

}

.event-details p {
  margin: 15px 0 0 0;
  color: var(--px-white);
  font-size: 1.7rem;
  text-align: left;
  padding: 0;
  white-space: normal; /* Dozvoljava prelamanje teksta u novom redu */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all; /* Omogućava da se duge reči prelamaju */

}

.event-details p:first-child {
  font-weight: bold;
}

/* Sakrij dugmice za zumiranje */
.ril-zoom-in ,
.ril-zoom-out {
  display: none !important; /* Ovaj stil potpuno sakriva dugmice za zumiranje */
}


/* Responzivnost za mobilne uređaje */
@media (max-width: 768px) {
  .event-item {
    flex-direction: column; /* Prebaci događaj u vertikalni raspored */
    align-items: center; /* Centriraj sadržaj */
    width: 70%; /* Smanji širinu za mobilne uređaje */
  }

  .event-image {
    width: 200px; /* Smanji veličinu slike */
    height: 300px;
  }

  .event-details {
    margin-left: 0; /* Ukloni marginu s leve strane */
    text-align: center; /* Centriraj tekst */
  }

  .event-details h3 {
    font-size: 2.5rem; /* Manji font za mobilne uređaje */
  }

  .event-details p {
    font-size: 1.5rem; /* Manji font */
    text-align: left; /* Poravnanje teksta levo */
    margin: 10px 0 0 0; /* Uklonite bilo kakve margine koje mogu uticati na raspored */
    padding: 0; /* Ako želite da uklonite unutrašnje razmake */
  }

}

/* Responzivnost za vrlo male ekrane (telefon u portretnom režimu) */
@media (max-width: 480px) {
  .event-item {
    width: 95%; /* Smanji širinu još više za ekrane male širine */
  }

  .event-image {
    width: 200px; /* Još manja slika */
    height: 300px;
  }

  .event-details h3 {
    font-size: 2rem; /* Manji font */
  }
  .event-details p {
    font-size: 1.1rem; /* Manji font */
    text-align: left; /* Poravnanje teksta levo */
    margin: 8px 0 0 0; /* Uklonite bilo kakve margine koje mogu uticati na raspored */
    padding: 0; /* Ako želite da uklonite unutrašnje razmake */
  }
}




