/* Stil za galeriju */
.gallery-section {
  padding: 20px; /* Razmak oko galerije */
}

/* Stil za naslov galerije */
.gallery-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Stil za kontejner galerije koji koristi grid */
.gallery-section .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Dinamične kolone */
  grid-gap: 20px; /* Razmak između slika */
  justify-items: center; /* Centriranje slika unutar grid ćelija */
  padding: 0;
}

/* Stil za svaki pojedinačni wrapper slika */
.gallery-section .gallery-item-wrapper {
  width: 100%; /* Širina svakog wrapper-a je 100% od kolone */
  position: relative; /* Dodaje mogućnost pozicioniranja unutar wrapper-a */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0px 6px rgba(255, 0, 0, 0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Stil za slike unutar wrapper-a */
.gallery-section .gallery-item-wrapper img {
  width: 100%; /* Širina slike je 100% od širine wrapper-a */
  height: auto; /* Visina slike zavisi od njenih proporcija */
  object-fit: cover; /* Slika se prostire unutar wrapper-a, ali bez deformisanja */
  object-position: center center; /* Slika je centrirana unutar wrapper-a */
}

/* Hover efekat za sliku */
.gallery-section .gallery-item-wrapper:hover {
  transform: scale(1.05); /* Malo uvećava sliku kada je korisnik pređe */
  box-shadow: 0 0px 12px rgba(255, 0, 0, 0.9); /* Uvećava senku pri hoveru */
}

/* Lazy load efekat - blur dok se slika učitava */
.lazy-load-image-loaded {
  filter: blur(0); /* Uklanja blur efekat kada je slika učitana */
}

/* Lightbox (ako koristiš Lightbox za prikaz slike u većem formatu) */
.react-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Tamna pozadina kad je Lightbox otvoren */
  display: flex;
  justify-content: center;
  align-items: center;
}




  /* Responsive dizajn */
  @media (max-width: 768px) {
    .gallery-section .gallery-title {
      font-size: 1.5rem;
    }
  
    .gallery-section .container {
      gap: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .gallery-section .gallery-title {
      font-size: 1.2rem;
    }
  
    .gallery-section .container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  