/* Stil za galeriju */
.gallery-section {
  padding: 20px;
  background: linear-gradient(to left, rgba(83, 80, 80, 0.8), rgba(0, 0, 0, 0.8));
}

/* Stil za naslov galerije */
.gallery-title {
  text-align: center;
  font-size: 5em;
  text-transform: uppercase;
  font-family: var(--px-font);
  font-weight:bold;
  color: var(--px-bababa);
  margin: 3% 0 3% 0;
}

/* Stil za kontejner galerije koji koristi grid */
.gallery-section .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr)); /* Dinamične kolone */
  grid-template-rows: repeat(auto-fill, minmax(270px, 1fr)); /* Dinamične visine redova */
 
  grid-gap: 35px; /* Razmak između slika */
  justify-items: center; /* Centriranje slika unutar grid ćelija */
  padding: 0;
}
/* Stil za svaki pojedinačni wrapper slika */
.gallery-section .gallery-item-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0px 6px rgba(27, 27, 27, 0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Stil za slike unutar wrapper-a */
.gallery-section .gallery-item-wrapper img {
  width: 100%; /* Slika će imati širinu 100% od širine wrapper-a */
  height: 100%; /* Visina slike će biti ista kao visina wrapper-a */
  object-fit: cover; /* Slika će popuniti ceo prostor */
  object-position: center; /* Slika će biti centrirana (središnja tačka) */
}

/* Stil za slike sa formatom 16:9 (landscape) - zauzimaju jedan red */
.gallery-section .landscape {
  grid-row: span 1; /* Slika zauzima samo jedan red */
  aspect-ratio: 16/9; /* Omogućava pravilno skaliranje slike */
}

/* Stil za slike sa formatom 9:16 (portrait) - zauzimaju dva reda */
.gallery-section .portrait {
  grid-row: span 2; /* Slika zauzima dva reda */
  aspect-ratio: 9/16; /* Omogućava pravilno skaliranje slike */
}

/* Hover efekat za sliku */
.gallery-section .gallery-item-wrapper:hover {
  transform: scale(1.01);
  box-shadow: 0 0px 30px rgba(255, 255, 255, 0.9);
}




/* Lazy load efekat - blur dok se slika učitava */
.lazy-load-image-loaded {
  filter: blur(0);
}

/* Responsive dizajn */
@media (max-width: 768px) {
  .gallery-section .gallery-title {
    font-size: 1.5rem;
  }

  .gallery-section .container {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .gallery-section .gallery-title {
    font-size: 1.2rem;
  }

  .gallery-section .container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

