/* Base Styles for Contact Section */
.contact-section {
    position: relative;
    min-height: 100vh; /* Sekcija zauzima najmanje visinu ekrana */
    display: flex;
    align-items: center; /* Vertikalno poravnanje */
    justify-content: center; /* Horizontalno poravnanje */
    padding: 0 10%; /* Dodaj margine sa strane */
    background-color: var(--px-bg-1);
}


/* Contact Information Styles */
.contact-info {
    margin-bottom: 20px;
    color: var(--px-bababa);
    text-align: center;
}
.contact-info h4 {
    font-size: 34px;
    font-weight: 500;
}
.contact-info p {
    font-size: 16px;
}
.contact-info i,a {
    text-decoration: none;
    
    text-align: left;
    
}
.contact-info ul {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
}
.contact-info li {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 10px;
}
.contact-info li i {
    width: 30px;
    text-align: center;
    font-size: 22px;
    color: var(--px-theme);
    margin-right: 10px;
}

/* Contact Form Styles */
.contact-form {
    background-color: var(--px-bg-1); /* Plava pozadina forme */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    text-align: center;
    width: 100%;
}


.contact-form h4 {
    margin-bottom: 20px;
    color: var(--px-bababa);
}
.form-control{
    color: rgb(214, 7, 7);
}
.contact-form .form-control {
    background-color: var(--px-theme);
    border: 2px solid var(--px-theme);
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
/* Fokusirano polje */
.contact-form .form-control:focus {
    color: pink; /* Tekst kada korisnik piše */
    background-color: rgba(255, 255, 255, 0.1); /* Lagana pozadina */
    border-color: pink; /* Roz ivice kada je aktivno */
    outline: none;
    box-shadow: 0 0 5px pink;
}

.contact-form .form-control.invalid {
    border-color: #dc3545 !important;
}
.contact-form textarea.form-control {
    height: auto;
}




/* Button Styles */
.btn-bar{
    display: flex;
    justify-content: center;  /* Centriranje horizontalno */
}
.btn-bar .px-btn {
    background-color: var(--px-theme);
    color: var(--px-bababa);
    padding: 9px 34px;
    border-radius: 60px;
    transition: 0.3s;
    text-align: center;
    border-color: var(--px-theme, 0.75);
    
}
.btn-bar .px-btn:hover {
    transform: translateY(-5px);
    color: #fff;
}







/* Responsive Adjustments */
@media screen and (max-width: 767px) {
    .contact-info, .contact-form {
        margin-bottom: 20px;
    }
    .contact-info h4, .contact-form h4 {
        font-size: 28px;
    }
}
