/* FloatingPhoneIcon.css */

.floating-phone-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    background: linear-gradient(to right, var(--px-theme), var(--px-gradient-end));
    width: 40px; /* Dodato za savršeni krug */
    height: 40px; /* Ista visina kao širina */
    border-radius: 50%; /* Krug */
    padding: 10px; /* Unutrašnji razmak */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: pulse 1.5s infinite; /* Animacija pulsiranja */
    cursor: pointer; /* Promena pokazivača miša */
    display: flex;
    justify-content: center; /* Centriraj ikonicu horizontalno */
    align-items: center; /* Centriraj ikonicu vertikalno */
    line-height: normal;

    /* Uklanja kockasti efekat na klik */
    outline: none;
    -webkit-tap-highlight-color: transparent; /* Android & iOS efekat */
    touch-action: manipulation; /* Sprečava neželjene interakcije */
}

.floating-phone-icon a {
    color: var(--px-phone-color) ; /* Boja ikone telefona */
}

/* Definisanje animacije */
@keyframes pulse {
    0% {
        transform: scale(1); /* Početna veličina */
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);;
    }
    50% {
        transform: scale(1.2); /* Veća veličina u sredini animacije */
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);;
    }
    100% {
        transform: scale(1); /* Vraća se na početnu veličinu */
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);;
    }
}

@media (min-width: 1128px) {
    .floating-phone-icon {
        display: none; /* Sakrij ikonu na većim ekranima */
    }
}
