/* Stilovi za footer */
.footer {
  width: 100%;
  padding: 20px 0;
  background-color: var(--px-black);
  color: var(--px-bababa);
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  margin-bottom: 10px;
}

.social-links a {
  margin: 0 10px;
  color: var(--px-bababa);
  font-size: 18px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: var(--px-theme);
}

.footer a {
  text-decoration: none;
  color: var(--px-theme);
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--px-white);
}

/* Responzivni dizajn */
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}