/* Uvoz Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Osnovne boje */
:root {
    --px-font: "Roboto", sans-serif; /* Postavljanje Arial kao osnovnog fonta */
    --px-font-alt: "Roboto", serif;

    --px-transparent: var(--px-transparent);
    --px-theme: #ff8801;
    --px-bababa: #bababa;
    --px-dark: #1c1c1c;
    --px-white: #fff;
    --px-black: #000;
    --px-bg-1: #1c1c1c;
    --px-bg-2: #2e2e2e;
    --px-bg-3: #1c1c1c;
    --px-gray: #f7f7ff;
    --px-body: rgba(255, 255, 255, 0.8);
    --px-body-light: #555;
    --px-font-size: 15px;
    --px-line-height: 1.7;
    --px-red: #ff0000;

    --px-phone-color: #ff8801;
    


    /* Breakpoints */
    --px-media-xsm: 567px;
    --px-media-sm: 767px;
    --px-media-md: 991px;
    --px-media-lg: 1200px;
}
/* Dodajemo osnovne stilove za celo telo i elemente koji sadrže sadržaj */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Podesi visinu tela da bude 100% */
    width: 100%;
    overflow-x: hidden; /* Isključujemo horizontalno skrolovanje */
  }
/* Primer upotrebe varijabli */
body {
    font-family: var(--px-font);
    font-size: var(--px-font-size);
    line-height: var(--px-line-height);
    color: var(--px-white);


    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto; /* Omogućavamo vertikalno skrolovanje */
    
}

/* Osnovni stil za redove */
.row {
    display: flex;
    align-items: center; /* Centriraj vertikalno */
    justify-content: center; /* Centriraj horizontalno */
  }

.col-md-3 {
    flex: 1; /* Sve kolone zauzimaju istu širinu */
    display: flex; /* Omogućava centriranje sadržaja unutar kolona */
    justify-content: center; /* Centriraj sadržaj horizontalno */
    align-items: center; /* Centriraj sadržaj vertikalno */
    text-align: center; /* Centriraj tekst unutar kolona */
}

.col-md-4 {
    flex: 1; /* Sve kolone zauzimaju istu širinu */
    display: flex; /* Omogućava centriranje sadržaja unutar kolona */
    justify-content: center; /* Centriraj sadržaj horizontalno */
    align-items: center; /* Centriraj sadržaj vertikalno */
    text-align: center; /* Centriraj tekst unutar kolona */
}
.col-md-5 {
    flex: 1; /* Sve kolone zauzimaju istu širinu */
    display: flex; /* Omogućava centriranje sadržaja unutar kolona */
    justify-content: center; /* Centriraj sadržaj horizontalno */
    align-items: center; /* Centriraj sadržaj vertikalno */
    text-align: center; /* Centriraj tekst unutar kolona */
}