/* Uvoz Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Osnovne boje */
:root {
    --px-font: "Roboto", sans-serif; /* Postavljanje Arial kao osnovnog fonta */
    --px-font-alt: "Roboto", serif;

    --px-transparent: var(--px-transparent);
    --px-theme: #6a11cb;
    --px-gradient-end: #2575fc;
    --px-bababa: #bababa;
    --px-dark: #1c1c1c;
    --px-white: #fff;
    --px-black: #000;
    --px-bg-1: #1c1c1c;
    --px-bg-2: #2e2e2e;
    --px-bg-3: #1c1c1c;
    --px-gray: #f7f7ff;
    --px-body: rgba(255, 255, 255, 0.8);
    --px-body-light: #555;
    --px-font-size: 15px;
    --px-line-height: 1.7;
    --px-red: #ff0000;

    --px-phone-color: #2b0058;
    


    /* Breakpoints */
    --px-media-xsm: 567px;
    --px-media-sm: 767px;
    --px-media-md: 991px;
    --px-media-lg: 1200px;
}
/* Dodajemo osnovne stilove za celo telo i elemente koji sadrže sadržaj */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Podesi visinu tela da bude 100% */
    width: 100%;
    overflow-x: hidden;
  }
/* Primer upotrebe varijabli */
body {
    font-family: var(--px-font);
    font-size: var(--px-font-size);
    line-height: var(--px-line-height);
    color: var(--px-white);


    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: -moz-scrollbars-none; /* Sakriva skrol trake u Firefoxu */
  -ms-overflow-style: none; /* Sakriva skrol trake u Internet Exploreru i Edgeu */
  scrollbar-width: none; /* Sakriva skrol trake u modernim preglednicima */
    
}



a {
  text-decoration: none; /* Uklanja underline */
}

a:hover, a:focus {
  text-decoration: none; /* Osigurava da nema underline ni kod hovera */
}

/* Prilagođeni skrol za celo telo i sve kontejnerske elemente sa skrolovanjem */
::-webkit-scrollbar {
    width: 8px; /* Širina skrol trake */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); /* Boja skrol "thumb" dela */
    border-radius: 10px; /* Zaobljenost "thumb" dela */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Pozadina skrol trake */
  }
  