/* Osnovni stilovi za header */
.s-header {
    text-align: center;
    /* Centriranje sadržaja */
    padding: 0;
}

.navbar {
    padding: 0.5rem 1rem;
    background: var(--px-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centriranje sadržaja vertikalno */
}

.logotandk {
    width: 300px;
    height: 110px;
    fill: var(--px-logo);
}

.logotandk:hover {
    fill: var(--px-navbar-hover);
    
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centriranje elemenata unutar navigacije */
    gap: 23px;

}

.nav-links li {
    display: flex;
    align-items: center;
    
}

.nav-links li a {
    font-weight: bold;
    text-align: center;
    background: transparent;
    transition: color .1s 0s ease-in-out;
    outline: none;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--px-navbar-white);
    font-size: 22px;
    font-family: var(--px-font);
}

.nav-links li a:hover {
    color: var(--px-navbar-hover);
    /* Promena boje pri hover-u */
}

/* Sakrij navbar-collapse na većim ekranima */
.navbar-collapse {
    display: none !important;
}

.navbar-collapse.show {
    display: block !important;
}

/*==========================================================*/
/*======================PROMENA JEZIKA======================*/
/*==========================================================*/
.language-switcher {
    display: flex;
    align-items: center;
}

.language-switcher button {
    background: transparent;
    border: none;
    font-weight: bold;
    margin-left: 10px;
}

/* Dodavanje transition efekta za animaciju */
input {
    display: none;
}

.display * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;

}

.language-switcher label{ 
    width: 100px;
    height: 50px;
    border-radius: 999px;
    background: var(--px-navbar-lang-sw);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
    cursor: pointer;
    position: relative;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 99px;
    background: var(--px-navbar-lang-sw-cicle);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
        -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.svgicon {
    width: 20px;
    /* Ikone će biti proporcionalno smanjene */
    position: absolute;
}

.srbflag {
    margin-top: 0%;
    opacity: 1;
    height: 45px;
    width: 45px;
}

.ukflag {
    margin-top: -50%;
    opacity: 0;

    height: 45px;
    width: 45px;
}

/* Input checked aktivira promenu */
input[type=checkbox]:checked+.display label {
    background: var(--px-navbar-lang-sw-cicle);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
}

/* Pokreće promene za jezik (npr. sa zastavama ili ikonicama) */
input[type=checkbox]:checked+.display label .circle {
    left: 100%;
    transform: translate(-110%, -50%);
    background: var(--px-navbar-lang-sw-change);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
        -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
}

input[type=checkbox]:checked+.display label .circle .srbflag {
    margin-top: 150%;
    opacity: 0;
}

input[type=checkbox]:checked+.display label .circle .ukflag {
    margin-top: 0%;
    opacity: 1;
}

label:active .circle {
    width: 50px;
}







/* Osnovni stilovi za bočni meni */
.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: var(--px-navbar-side-menu);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    /* Osiguraj da bude iznad ostalog sadržaja */
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out; /* Animacija za otvaranje menija */
}

.side-menu.menu-open {
    transform: translateX(0);
}

.side-menu.menu-close {
    transform: translateX(100%);
}
.menu-content {
    display: flex;
    flex-direction: column;
}
.menu-toggle {
    cursor: pointer;
    color: var(--px-navbar-menu-toggle);
    position: absolute;
    display: none; /* Prikazivaćemo je samo na manjim ekranima */
}
.menu-toggle :hover{
    color: var(--px-navbar-hover);
}


/*==========================================================*/
/*======================RESPONZIVNOST=======================*/
/* Responsivnost */
/* Responsivnost */
@media (max-width: 991px) {
    .navbar {
        padding: 0.5rem;
    }

    .navbar-brand-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .logotandk {
        width: 250px;
        height: 125px;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
        width: 60%;
    }


    .side-menu {
        width: 40%;
    }
    .side-menu .nav-links li a{
        font-size: 28px;
    }
    .menu-toggle {
        display: block; /* Prikazuje ikonu na manjim ekranima */
        font-size: 45px;
        right: 6%; /* Odmaknuta od desne ivice za 6% */
        top: 34%;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem;
    }
    .navbar-brand-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .logotandk {
        width: 200px;
        height: 100px;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;        
        width: 60%;
    }
    .side-menu {
        width: 40%;
    }
    .side-menu .nav-links li a{
        
        font-size: 24px;
    }

    .navbar-collapse {
        display: block !important;
    }

    .menu-toggle {
        display: block;
        font-size: 40px;
        right: 6%; /* Odmaknuta od desne ivice za 6% */
        top: 32%;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 0.5rem;
    }
    .navbar-brand-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .logotandk {
        width: 150px;
        height: 75px;
    }

    .nav-links {
        gap: 8px;
        font-size: 14px;        
        width: 60%;
    }

    .side-menu {
        width: 45%;
    }
    .side-menu .nav-links li a{
        
        font-size: 20px;
    }
    .menu-toggle {
        font-size: 30px;
        right: 6%; /* Odmaknuta od desne ivice za 6% */
        top: 34%;
    }
}