/* Home Container */
.home-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background: linear-gradient(to right, var(--px-theme), var(--px-gradient-end));
}

/* Scene Styles */
.scene {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  z-index: 0;
}
.scene.active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

/* Background Images */
.home-container .scene1 {
  background-image: url("../../public/photos/home/kibo-bez-kontrole.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.home-container .scene2 {
  background-image: url("../../public/photos/home/taki-bez-kontrole.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right calc(100% - 70%);

}
.home-container .scene3 {
  background-image: url("../../public/photos/home/homepagetransparent.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Text Container 2 */
.text-container2 {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 40%; /* Širina tekstualnog sadržaja */
  color: white; /* Bele boje teksta za kontrast */
  text-align: left;
  scale: 1.3;
}



/* Type Box Styles */
.text-container2 .text-box2 {
  color: var(--px-bababa);
  padding: 20px;

  text-align: left; /* Poravnanje celokupnog sadržaja uz levu stranu */
}
.text-container2 .text-box2 h6 {
  font-size: 16px;
  font-weight: bold;
  margin:0 0 20px;
  letter-spacing: 2px;
  color: #ccc;
}
.text-container2 .text-box2 h1 {
  font-weight: bold;
  line-height: 1;
  margin: 0 0 15px;
  color: var(--px-bababa);  
  text-align: left; /* Poravnanje teksta uz levu stranu */
}
.text-container2 .text-box2 p{
  margin-top: 0;
  margin-bottom: 1rem;
}
.text-container2 .text-box2 .loop-text {
  font-size: 24px;
  font-weight: 500;
  color: var(--px-bababa); /* Zlatna boja za titulu */
  max-width: 40%;
}
.text-container2 .text-box2 .desc {
  font-size: 16px;
  line-height: 1.8;
  max-width: 40%;
  color: var(--px-bababa); 
  margin-top: -20px;
}



/* Responsive Adjustments */

/* Tablet */
@media (max-width: 1024px) {
  .text-container2 {
    top: 45%;
    left: 45%;
    scale: 1.3;
  
  }
  .text-container2 .text-box2{
    max-width: 450px;
  }
  .text-container2 .text-box2 h1 {
    font-size: 80px;
  }
  .text-container2 .text-box2 h6 {
    font-size: 16px;
  }

  .text-container2 .text-box2 .loop-text {
    font-size: 20px;
  }

  .text-container2 .text-box2 .desc {
    font-size: 16px;
    line-height: 1.8;
    max-width: 100%;
    margin-top: -10px;
  }
  .home-container .scene2 {
     background-position: bottom right calc(100% - 90%);;
  }
}

/* Mobilni */
@media (max-width: 768px) {
  .text-container2 {
    top:38%;
    left: 35%;
    scale: 1.2;
  }
  .text-container2 .text-box2{
    max-width: 400px;
  }
  .text-container2 .text-box2 h1 {
    font-size: 70px;
  }
  .text-container2 .text-box2 h6 {
    font-size: 16px;
  }

  .text-container2 .text-box2 .loop-text {
    font-size: 20px;
  }

  .text-container2 .text-box2 .desc {
    font-size: 16px;
    line-height: 1.8;
    max-width: 100%;
    margin-top: -10px;
  }
  .home-container .scene2 {
     background-position: bottom right;
  }
}

/* Manji mobilni uređaji */
@media (max-width: 576px) {
  .text-container2 {
    top:35%;
    left: 25%;
    scale: 1.1;
  
  }
  .text-container2 .text-box2{
    max-width: 300px;
  }
  .text-container2 .text-box2 h1 {
    font-size: 60px;
  }
  .text-container2 .text-box2 h6 {
    font-size: 16px;
  }

  .text-container2 .text-box2 .loop-text {
    font-size: 18px;
  }

  .text-container2 .text-box2 .desc {
    font-size: 16px;
    line-height: 1.8;
    max-width: 300px;
    margin-top: 0;
  }
  .home-container .scene2 {
    background-position: bottom right calc(100% - 100px);;
  }
}