/* Home Container */
.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background:
    url("../../public/photos/home/takikibosmoke.png"),
    /* Slika */
    linear-gradient(to right, rgba(186, 186, 186, 0.8), rgba(0, 0, 0, 0.8));
  /* Gradient */

  background-size: cover;
  /* Slika pokriva celu pozadinu */
  background-position: center;
  /* Centriraj sliku */
  background-repeat: no-repeat;
  /* Onemogući ponavljanje slike */
}

/* Text Container 3 */


.text-container3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 20px 0;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  color: var(--px-home-gradient-1);
  /* Senka za dubinu */
}

/* Stil za welcome tekst */
.welcome-text {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: var(--px-font);
  color: var(--px-home-gradient-2);
  /* Bela boja teksta za bolji kontrast */
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  /* Velika slova */
  
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.9);
}



/* Stil za glavni tekst */
.main-text {
  font-size: 6.5rem;
  font-weight: bold;
  font-family: var(--px-font);
  color: var(--px-home-gradient-2);
  /* Bela boja teksta */
  text-transform: uppercase;
  /* Velika slova */
  letter-spacing: 4px;
  /* Širi razmak između slova */
  line-height: 1.3;
  text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.9);
  /* Senka za dubinu */
}






/* Responsive Adjustments */

@media (max-width: 1024px) {
  .text-container3 {
    width: 50%;
  }
  .text-container3 .welcome-text {
    font-size: 1.5rem;
  }
  .text-container3 .main-text {
    font-size: 4rem;
  }
}

/* Mobilni */
@media (max-width: 768px) {
  .text-container3 {
    width: 60%;
    top: 55%;
  }
  .text-container3 .welcome-text {
    font-size: 1.3rem;
  }
  .text-container3 .main-text {
    font-size: 3.5rem;
  }
}

/* Manji mobilni uređaji */
@media (max-width: 576px) {
  .text-container3 {
    width: 60%;
    top: 58%;
  }
  .text-container3 .welcome-text {
    font-size: 1.3rem;
  }
  .text-container3 .main-text {
    font-size: 2.8rem;
  }
}