/* Home Container */
.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: 
  url("../../public/photos/home/takikibo.png"), /* Slika */
    linear-gradient(to right, rgba(186, 186, 186, 0.8), rgba(0, 0, 0, 0.8)); /* Gradient */
   
  background-size: cover; /* Slika pokriva celu pozadinu */
  background-position: center; /* Centriraj sliku */
  background-repeat: no-repeat; /* Onemogući ponavljanje slike */
}

/* Text Container 3 */


.text-container3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, black, rgb(77, 77, 77), rgb(119, 119, 119)); /* Gradijent za tekst */
  background-clip: text; /* Primeni gradijent na tekst */
  -webkit-text-fill-color: transparent; /* Ukloni ispunu teksta */
  display: inline-block;

  text-align: center; 
  margin: 20px 0;
  
  text-decoration:none;
  font-weight: bold;
}

.welcome-text  {
  font-size: 2rem;
  margin-bottom: 10px;
}

.main-text {
  font-size: 4rem; /* Veličina glavnog naslova */
  font-weight: bold; /* Podebljan tekst */
  
  
}



/* Responsive Adjustments */

/* Tablet */
@media (max-width: 1024px) {
  
  /*Scene 3*/
  .text-container3 {
    width: 50%;
  }

  .text-container3 .text-box3 h6 {
    font-size: 50px;
  }

  .text-container3 .text-box3 h1 {
    font-size: 36px;
  }

}

/* Mobilni */
@media (max-width: 768px) {
    /*Scene 3*/
  .text-container3 {
    width: 60%;
  }

  .text-container3 .text-box3 h6 {
    font-size: 40px;
  }

  .text-container3 .text-box3 h1 {
    font-size: 28px;
  }
}

/* Manji mobilni uređaji */
@media (max-width: 576px) {
  /*Scene 3*/
  .text-container3 {
    width: 60%;
  }

  .text-container3 .text-box3 h6 {
    font-size: 40px;
  }

  .text-container3 .text-box3 h1 {
    font-size: 28px;
  }
}

/* Dodatna prilagodba za pejzažnu orijentaciju (horizontalna) */
@media (orientation: landscape) and (max-width: 1024px){
  .text-container2 {
    top: 42%;
    left: 40%;
    scale: 1; /* Blago smanjena skala za horizontalnu orijentaciju */
  }
  .text-container2 .text-box2 h1 {
    font-size: 70px; /* Prilagodba veličine naslova */
  }
  .text-container2 .text-box2 .loop-text {
    font-size: 22px;
  }
  .home-container .scene2 {
    background-position: bottom right calc(100% - 70%); /* Poravnanje slike u pejzažu */
  }
}

