* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Obezbeđuje da padding i margine ne utiču na širinu/visinu */
}

html, body {
  height: 100%; /* Osigurava da html i body zauzimaju punu visinu prozora */
  overflow: hidden; /* Sprečava skrolovanje */
}

.background-container {
  width: 100%;
  height: 100vh; /* Postavi visinu kontejnera na 100% visine prozora */
  position: relative; /* Obezbeđuje da unutrašnji elementi mogu biti pozicionirani u odnosu na ovaj kontejner */
  overflow: hidden; /* Sakriva sve što izlazi izvan kontejnera */
}
.background-video {
  position: absolute; /* Pozicionira video apsolutno u odnosu na kontejner */
  top: 0; /* Početna pozicija videa */
  left: 0; /* Početna pozicija videa */
  width: 100%; /* Širina videa da bude 100% */
  height: 100%; /* Visina videa da bude 100% */
  object-fit: cover; /* Održava proporcije videa bez izobličenja */
  z-index: 0; /* Osigurava da video bude pozadinski */
}

.background-image {
  position: absolute; /* Pozicionira sliku apsolutno u odnosu na kontejner */
  top: 0; /* Početna pozicija slike */
  left: 0; /* Početna pozicija slike */
  width: 100%; /* Širina slike da bude 100% */
  height: 100%; /* Visina slike da bude 100% */
  object-fit: cover; /* Održava proporcije slike bez izobličenja */
  z-index: 0; /* Osigurava da slika bude pozadinska */
}

.page-content {
  position: relative; /* Obezbeđuje da sadržaj bude iznad slike */
  padding: 20px; /* Dodaj padding za bolji izgled */
  color: rebeccapurple;
  z-index: 1; /* Osigurava da je sadržaj iznad slike */
}

@media (max-width: 768px) {
  .row {
    flex-direction: column; /* Prebaci u kolonu na manjim ekranima */
  }
}
